*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'TT Hoves', sans-serif;
    color: #222;                                
}

section {
    padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
}

section.hello {
    padding-top: 40px;
    background-image: url(./img/html_css_js.png);
    background-repeat: no-repeat;
    background-position: top 121px right 58px;
    background-size: 30%;
}

.logo {
    height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.courseInfo {
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    margin-top: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
}

.courseData {
    font-size: 21px;
    line-height: 140%;    
}

.courseData .value {
    font-weight: 700;
}

h1 {
    font-family: 'Chava', sans-serif;
    font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
    line-height: 110%;
}

p {
    margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 300;
    line-height: 140%;
}

.cta {
    margin-top: 20px;
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

button {
    width: 328px;
    padding: 20px 0px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 500;
    line-height: 117%;

    cursor: pointer;
}

button.purple {
    background: #6E3ABA;
    color: white;
    border: 1px solid #6E3ABA;
}

button.white {
    background: white;
    color: #6E3ABA;
    border: 1px solid #6E3ABA;
}

section.second {
    margin-top: calc(11vw + 18.5px);
    padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
}

.recom {
    margin-right: calc(23.5px + (391 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 117%;
}

.students {
    display: flex;
    gap: 40px 70px;
    flex-wrap: wrap;
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.studentType {
    width: calc(328px + (450 - 328) * ((100vw - 375px) / (1280 - 375)));
    height: calc(350px + (468 - 350) * ((100vw - 375px) / (1280 - 375)));
    box-sizing: border-box;
    margin-bottom: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.memoji {
    height: calc(180px + (210 - 180) * ((100vw - 375px) / (1280 - 375)));
    display: block; 
}

.name {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 140%;  
    margin-top: 10px;
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
}

.inform {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
} 

.saleContainer {
    background-color: #6E3ABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
    margin-top: calc(11vw + 18.5px);
}

.saleContainer h3 {
    color: white;
    font-size: calc(2vw + 26.5px);
    margin-bottom: calc(4.1vw + 4.7px);
}

.time {
    display: flex;
    gap: 0; 
    margin-bottom: calc(4vw + 6px);
}

.date {
    font-size: calc(12.6vw + 12.8px);
    font-family: "Chava", sans-serif;
    line-height: 107%;
}

.timecard span {
    display: block;
    text-align: center; 
    font-size: calc(1.9vw + 3px);
}


section.third {
    margin-top: calc(11vw + 18.5px);
    padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
}
.result1 {
    display: flex;
    gap: 30px 90px;
    flex-wrap: wrap;
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375)));
}
.courseResult {
    margin-right: calc(23.5px + (138 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 117%;
}
.resultType {
    width: calc(8vw + 298px);
    box-sizing: border-box; 
}
.resultname {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 140%;  
    margin-top: 10px;
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
}
.resultInform {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
}

.legendContainer {
    margin-top: calc(11vw + 18.5px);
    padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
}

.legendContainer h2 {
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
    text-transform: uppercase;
    line-height: 117%;
}

.infoContainer {
    display: flex;
    gap: calc(20px + (51 - 20) * ((100vw - 375px) / (1280 - 375)));
    flex-wrap: wrap;
}

.infoCard {
    flex-basis: 250px;
    flex-grow: 1;
}

.infoCard img {
    width: 100%;
}

.infobox {
    flex-basis: 300px;
    flex-grow: 3;
}

h4 {
    font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 120%;
}

.legendSkills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
    column-gap: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.skills img {
    width: 36px;
    display: block;  
}

.skills {
    display: block;
    margin-top: 10px;
    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
}


@media (max-width: 376px) {
    section.hello {
        padding-top: 40px;
        background-image: url(./img/html_css_js.png);
        background-repeat: no-repeat;
        background-position: top 77px right 4px;
        background-size: 45%;
    }
}

section.diplom {
    margin-top: calc(11vw + 18.5px);
    padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
}

.diplom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center; 
    text-align: left; 
    gap: 20px;
}

.diplom h2 {
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    text-transform: uppercase;
    line-height: 117%;
}

.diplomText {
    padding-left: 20px; 
}

.diplom img {
    max-width: 100%;
    height: auto;
}

.diplomTextSpan {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
}

.diplomTextSpan2 {
    display: none; 
}

@media (max-width: 420px) {
    .diplom {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "first"
        "second"
        "third";
        align-items: center; 
        text-align: left; 
        gap: 20px;
    }
    
    .diplom h2 {
        grid-area: first;
    }
    
    .diplomText {
        padding-left: 0; 
        display: inline;
    }
    
    .diplom img {
        grid-area: second;
    }
    
    .diplomTextSpan {
        display: none; 
    }

    .diplomTextSpan2 {
        display: inline;
        font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
        line-height: 140%;
    }

    

}
    section.salary {
        margin-top: calc(11vw + 18.5px);
        padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    }

    .salary h2 {
        font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 500;
        text-transform: uppercase;
        line-height: 117%;
        margin-bottom: calc(20px + (36 - 20) * ((100vw - 375px) / (1280 - 375)));
        margin-right: calc(23px + (431 - 23) * ((100vw - 375px) / (1280 - 375)));
    }

    .hhResult {
        font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
        line-height: 140%;
        margin-right: calc(23.5px + (283 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    }

    .salary img {
        width: calc(328px + (1065 - 328) * ((100vw - 375px) / (1280 - 375)));
        height: calc(96px + (310 - 96) * ((100vw - 375px) / (1280 - 375)));
        margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
    }

    section.studentBox {
        margin-top: calc(11vw + 18.5px);
        padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    }

    .studentBox h2 {
        font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 500;
        text-transform: uppercase;
        line-height: 117%;
        margin-bottom: calc(20px + (36 - 20) * ((100vw - 375px) / (1280 - 375)));
    }

    .studentBox img {
        width: 100%;
    }

    .studentBoxInfo {
        font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
        line-height: 140%;
        margin-bottom: calc(20px + (25 - 20) * ((100vw - 375px) / (1280 - 375)));
    }

    @media (min-width: 420px) {
        .gridContainerBox {
            display: grid;
            grid-template-columns: auto 2fr; 
            gap: 20px; 
            align-items: center;
        }
        
        .studentImage {
            max-width: 100%; 
            height: auto;
        }
        
        .studentBoxInfoContainer {
            display: flex;
            flex-direction: column;
        }
    }

    .frame {
        margin-top: calc(11vw + 18.5px);
        padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    }

    .frameBox {
        border: 2px solid black; 
        padding: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375))) calc(20px + (52 - 20) * ((100vw - 375px) / (1280 - 375))) calc(23px + (35 - 23) * ((100vw - 375px) / (1280 - 375))); 
        position: relative;
    }

    #corner {
        width: calc(40px + (140 - 40) * ((100vw - 375px) / (1280 - 375)));
        position: absolute;
        top: -2px;
        right: -2px;
    }

    .frameBox h2 {
        margin: 0;
        font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 500;
        text-transform: uppercase;
        line-height: 117%;
    }

    .lessons {
        margin-top: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
        margin-bottom: calc(23px + (34 - 23) * ((100vw - 375px) / (1280 - 375)));
        list-style-type: none;
    }

    .lessons li {
        border-bottom: 1px solid #a1a1a1;
        padding: 24px 0;
        font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    }

    .lessons li:first-child {
        padding-top: 0;
    }

    .frame button {
        margin: 0 auto;
        display: block;
    }

    .mobile {
        display: none !important;
    }

    @media (max-width: 600px) {
        .mobile {
            display: block !important;
        }
        .dekstop {
            display: none !important;
        }

        .frame button {
            margin-top: 30px;
        }

        .lessons li:last-child {
            border: 0; 
            padding-bottom: 0;
        }
    }

    .reviews {
        margin-top: calc(11vw + 18.5px);
        padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
    }

    .reviews h2 {
        margin: 0;
        font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 500;
        text-transform: uppercase;
        line-height: 117%;
    }

    .feedbacks {
        margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        gap: 30px;
    }

    .feedback {
        background-color: #F0F7FD;
        border-radius: 12px; 
        width: calc(328px + (335 - 328) * ((100vw - 375px) / (1280 - 375)));
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .feedbackText {
        margin-left: calc(15px + (20 - 15) * ((100vw - 375px) / (1280 - 375)));
    }

    .feedbackText img {
        margin-top: 50px;
    }

    .feedbackText p {
        font-size: 21px;
        margin-right: 20px; 
        margin-top: 0; 
    }

    .feedbackText p:last-child {
        margin-right: 10px; 
    }

    .feedbackStudent {
        margin-left: calc(15px + (20 - 15) * ((100vw - 375px) / (1280 - 375)));
        display: flex;
        flex-direction: row; 
        gap: 16px; 
        margin-top: 10px; 
        margin-bottom: 42px;
    }

    .feedbackStudent img {
        border-radius: 50px; 
    }

    .studentInform {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }

    .feedbackStudent span {
        font-size: 21px;
    }

    .wrapper {
        position: fixed;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        display: none;
    }

    .popUp {
        background: #F0F7FD;
        width: calc(326px + (800 - 326) * ((100vw - 375px) / (1280 - 375)));
        height: 80vh;
        border-radius: 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        display: none;

    }

    .form {
        width: 320px;
    }

    .form h4 {
        text-transform: uppercase;
        font-size: 26px;
        text-align: center;
    }

    .form input {
        display: block;
        width: 100%;

        border: 0;
        border-bottom: 1px solid #A1A1A1;
        outline: 0;
        background: transparent;

        font-size: 18px;
        line-height: 27px;
        padding: 10px 0;
    }

    .form button {
        margin-top: 30px;
    }

    .thankYouPage {
        background: #222222;
        width: calc(326px + (800 - 326) * ((100vw - 375px) / (1280 - 375)));
        height: 80vh;
        border-radius: 12px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thankYouPage h2 {
        margin: 0;
        font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 500;
        text-transform: uppercase;
        line-height: 117%;
        text-align: center; 
    }

        .about {
            margin-top: calc(11vw + 18.5px);
            padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
        }

        .about h2 {
            margin: 0;
            font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
            font-weight: 500;
            text-transform: uppercase;
            line-height: 117%;
        }

        .aboutInform {
            margin-top: calc(34px + (80 - 34) * ((100vw - 375px) / (1280 - 375)));
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 97px; 
        }

        @media (max-width: 600px) {
            .aboutInform {
                display: block;
            } 
        }

        .aboutInform img {
        width: 110px;
        }

        .aboutInform p {
        font-size: calc(22px + (27 - 22) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 600; 
        line-height: 140%; 
        width: calc(328px + (426 - 328) * ((100vw - 375px) / (1280 - 375))); 
        }

        .aboutStudents .statistic {
        font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
        font-weight: 700;
        line-height: 117%;
        margin-top: 40px; 
        }

        .aboutStudents span {
        font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
        } 

        .party {
            margin-top: calc(11vw + 18.5px);
            padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
        }

        .party h2 {
            margin: 0;
            font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
            font-weight: 500;
            text-transform: uppercase;
            line-height: 117%;
            margin-bottom: 20px;  
        }

        .party span {
            font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
            margin-right: calc(23.5px + (300 - 23.5) * ((100vw - 375px) / (1280 - 375)));
            display: block;  
        }

        .partyPics {
            margin-top: 20px; 
        }

        .lastPage {
            margin-top: calc(11vw + 18.5px);
            padding: 0 calc(23.5px + (120 - 23.5) * ((100vw - 375px) / (1280 - 375)));
            background-color: #222222; 
            display: flex;
            flex-direction: row;  
            gap: calc(88px + (166 - 88) * ((100vw - 375px) / (1280 - 375)));
        }

        .now {
            color: white;
        }

        .now h2 {
            margin: 0;
            font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
            font-weight: 500;
            text-transform: uppercase;
            line-height: 117%;
            margin-top: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
            margin-bottom: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
        }

        .now img {
            margin-right: calc(1.5px + (5 - 1.5) * ((100vw - 375px) / (1280 - 375)));
        }

        .now span {
            font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
        }

        .attainments {
            margin-top: 24px; 
        }

        .sendRequest {
            background-color: white; 
            margin-top: 100px;
            margin-bottom: calc(59px + (80 - 59) * ((100vw - 375px) / (1280 - 375)));
            border-radius: 12px;
            width: calc(326px + (1200 - 326) * ((100vw - 375px) / (1280 - 375)));
            height: 85vh; 
            display: flex;
            justify-content: center;  
            position: relative; 
        }

        #salePng {
            width: calc(105px + (159 - 105) * ((100vw - 375px) / (1280 - 375)));
            position: absolute;
            top: -50px;
            left: -50px; 
        }

        .sendRequest h4 {
            text-transform: uppercase;
            font-size: 26px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 10px; 

        }

        .sendRequest span {
            font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
            display: block; 
            text-align: center; 
            margin-bottom: 30px; 
        }

        .form p {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 117%; 
            text-align: center;
            color: #222222; 
            opacity: 50%; 
            margin-top: 41px;
            margin-bottom: 10px; 
        }

        .form .contacts {
            margin: 0;
            font-weight: 400; 
        }

        @media (max-width: 400px){
            .lastPage {
                display: flex;
                flex-direction: column;
                gap: 0; 
            } 

            .sendRequest { 
                height: 540px; 
            }

            form {
                margin-right: 30px;
                margin-left: 30px; 
            }
            button {
                width: 267px;
            }

            #salePng {
                top: -50px;
                left: auto; 
                right: -10px; 
            }
        }
